.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.logo img {
  max-height: 70% !important; 
}
div .logo {
  padding-top: 20px !important; 
}